<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzhu.substitute.mapper.UserMapper">
    <select id="queryPermissionsByUserId" resultType="java.lang.String">
        SELECT
            DISTINCT ${prefix}menu.perm_key
        FROM
            ${prefix}user_role
                LEFT JOIN ${prefix}role ON ${prefix}role.id = ${prefix}user_role.role_id
                LEFT JOIN ${prefix}role_menu ON ${prefix}user_role.role_id = ${prefix}role_menu.role_id
                LEFT JOIN ${prefix}menu ON ${prefix}menu.id = ${prefix}role_menu.menu_id
        WHERE
            ${prefix}user_role.user_id = #{userId}
          AND ${prefix}role.status = 1
          AND ${prefix}menu.status = 1
    </select>
</mapper>